/* Plex Mono - latin 
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    src:
        local("IBM Plex Mono"),
        local("IBMPlexMono-regular.otf"),
        url("../fonts/IBMPlexMono-Regular.woff2")
            format("woff2"); 
} */


:root {
    text-autospace: normal;
}

html {
    overflow: auto;
} 

img {
    max-width: 100%;
    -webkit-box-shadow: 0 6px 12px
        rgba(80, 0, 0, 0.16);
    -moz-box-shadow: 0 6px 12px
        rgba(80, 0, 0, 0.16);
    box-shadow: 0 6px 12px rgba(80, 0, 0, 0.16);
    margin-bottom: -1%;
}

@media (min-width: 550px) {
    /*
  Side by side gallery
  use with </> alignment
  e.g.
  [_gallery >](imgages/test.jpg)
  */
    img[alt~="_gallery"] {
        max-width: 49.25%;
        margin-bottom: 2.5%;
    }

    /* Aligned to the right */
    img[alt$=">"] {
        float: right;
    }

    /* Aligned to the left */
    img[alt$="<"] {
        float: left;
    }

    /* Centered image */
    img[alt$="><"] {
        display: block;
        margin: auto;
        float: none !important;
    }
}

.center {
    text-align: center;
}

.left {
    margin-left: 0;
}

.little-svg {
    fill: #fff;
}

.ml-0 {
    margin-left: 0.7rem;
}

.ml {
    margin-right: 2rem;
}

.ml-1 {
    padding-left: 4rem;
}

.bottom {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 0px;
    line-height: 1.15;
}

.mb-1 {
    margin-bottom: 0px;
}

.mb-2 {
    margin-bottom: 5rem;
}

.mb-3 {
    margin-bottom: 16px;
}

.mb-4 {
    margin-bottom: 32px;
}

.mr {
    margin-right: 32px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-2 {
    margin-top: 5rem;
    /* line-height: 1.15em;*/
    width: 100%;
}

.mt-3 {
    margin-top: 8rem;
}

.mx-auto {
    margin: auto;
}

.mode {
    position: absolute;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.tag-link {
    margin-right: 10px;
}

.about {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

li p code {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 0px 2px;
    font-size: 85%;
}

body.darkmode li p code {
    background-color: rgb(65, 65, 65);
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(128 128 128 / 56%);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(128 128 128 / 16%);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(128 128 128 / 100%);
}

/* Footer */
a.footer-link:hover,
a.footer-link:focus {
    cursor: pointer;
}

.svg-hov {
    transition: all 0.2s ease-in-out;
}
.svg-hov:hover {
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
}

.hexo {
    fill: #e2001a;
    vertical-align: middle;
    padding-bottom: 4px;
}

.github {
    fill: #63636f;
}
.linkedin {
    fill: #0073b1;
}
.twitter {
    fill: #08a0e9;
}
.instagram {
    fill: #e4405f;
}
.bluesky {
    fill: #007bf9;
}

.nanobar {
    left: 0;
}

body {
    /*position: static;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 8px;*/
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    background: #eae6e2;
    text-rendering: geometricPrecision;
}

body.darkmode {
    background: rgb(25, 25, 26);
    color: rgb(151, 154, 156);
}

.trans {
    animation: transitionPlay 0.7s;
}

@keyframes transitionPlay {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.hidden {
    display: none;
}

/* Stack the two pheader logos in the same place without absolute positioning */
:where(.twelve.columns, .twelve.column):has(#logoLight, #logoDark) {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

:where(.twelve.columns, .twelve.column):has(#logoLight, #logoDark) > #logoLight,
:where(.twelve.columns, .twelve.column):has(#logoLight, #logoDark) > #logoDark {
    grid-area: 1 / 1;
}

/* Theme-switching pheader logo crossfade */
#logoLight,
#logoDark {
    transition: opacity 0.7s ease-in-out;
}

/* default (light mode) */
#logoLight {
    opacity: 1;
}
#logoDark {
    opacity: 0;
}

/* dark mode */
body.darkmode #logoLight {
    opacity: 0;
    pointer-events: none;
}
body.darkmode #logoDark {
    opacity: 1;
}

#comments {
    text-align: center;
}

#madewith {
    text-align: center;
}

.posisi {
    text-align: center;
}

@media (min-width: 550px) {
    .posisi {
        text-align: right;
    }

    #comments {
        text-align: left;
    }

    #madewith {
        text-align: left;
    }
}

@media (min-width: 550px) {
    .container img:not(.icon):not([alt~="_gallery"]):not([alt$=">"]):not([alt$="<"]):not([alt$="><"]),
    .container video,
    .container iframe:not(.giscus-frame):not(.giscus):not([id^="twitter-widget-"]),
    .container embed,
    .container object {
      width: 120%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: none;
    }

    .container p:has(img[alt~="_gallery"]) {
      width: 120%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-block: 0;
      font-size: 0;
    }

    /* Keep text after gallery from wrapping around floated images */
    .container p:has(img[alt~="_gallery"]) + p:not(:has(img[alt~="_gallery"])) {
      clear: both;
    }

    .container a:has(> img:not(.icon):not([alt~="_gallery"])) {
      display: block;
      text-decoration: none;
      background: none;
    }

    .container a:has(> img:not(.icon):not([alt~="_gallery"])) > img {
      transition: filter 0.2s ease-in-out;
      filter: grayscale(0%);
    }

    .container a:has(> img:not(.icon):not([alt~="_gallery"])):hover > img {
      filter:
        grayscale(100%)
        brightness(96%)
        contrast(110%);
    }
}

@media print {
  /* Hide site chrome */
  #pheader,
  header,
  #header,
  footer,
  #footer,
  .giscus,
  iframe.giscus-frame,
  .mode {
    display: none !important;
  }
  img:not([alt~="_gallery"]) {
    max-width: 66.67% !important;
    width: 66.67% !important;
    transorm: none !important;
  }
/* restore width
  .container img,
  .container video,
  .container iframe,
  .container embed,
  .container object {
    width: 100% !important;
    max-width: 100% !important;
    left: auto !important;
    transform: none !important;
  } */
}

a[data-flickr-embed] { display: inline-block; line-height: 0; }

a[data-flickr-embed] > iframe,
a[data-flickr-embed] > .flickr-embed-frame,
.flickr-embed-frame {
  display: block;
  border: 0;
  -webkit-box-shadow: 0 6px 12px rgba(80, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 12px rgba(80, 0, 0, 0.16);
  box-shadow: 0 6px 12px rgba(80, 0, 0, 0.16);
}

/* a[data-flickr-embed] { overflow: visible; } */

img.noshadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* Center Twitter embeds when they don't fill the container */
.container blockquote.twitter-tweet,
.container .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

/* Ensure the iframe itself is centered */
.container .twitter-tweet-rendered iframe[id^="twitter-widget-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
